.container{
  width: 85%;
  justify-self: center;
}

.header{
  background-color: black;
}
.header>h1{
  color: aqua;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
} 

.requisitos{
  background-color: beige;
}

.requisitos>h2{
  text-align: center;
  padding-top: 40px;
} 

.requisitos>p{
  text-align: center;
  padding: 10px;
  margin-top: 35px;
}

.titulos{
  background-color: chocolate;
  text-align: center;
  height: 200px;
}

.titulos>h1, .titulos>p{
  padding-top: 20px;
} 
.titulos>button{
  margin-top: 20px;
  padding: 10px;
  background-color: aqua;
  box-shadow: 0 0 10px black;
}

.grid{
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  width: 900px;
  gap: 40px;
}

.box{
  background-color: darkgray;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.box>h3{
  margin-bottom: 10px;
}

.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
} 